node_modules

/.cache
/public/build
/build
.env
dist

# Local Netlify folder
.netlify
.DS_Store

/data/*
!/data/albums-fallback.json
!/data/books-fallback.json
!/data/fitness-fallback.json
!/data/gigs-fallback.json
!/data/links-fallback.json
!/data/newsletters.json
