:root {
  --border-radius: 0.5rem;

  --color-bg: #1b1b1b;
  --color-bg-alt: #b3b3b3;
  --color-bg-prominent: #161616;
  --color-text: #b3b3b3;
  --color-text-prominent: #f1f1f1;

  --size-3xs: 0.125rem; /* 2px */
  --size-2xs: 0.25rem; /* 4px */
  --size-xs: 0.5rem; /* 8px */
  --size-sm: 1rem; /* 16px */
  --size-md: 1.5rem; /* 24px */
  --size-lg: 2rem; /* 32px */
  --size-xl: 3rem; /* 48px */
  --size-2xl: 4rem; /* 64px */
  --size-3xl: 6.4rem; /* 96px */
}

@font-face {
  font-display: swap;
  font-family: "National 2";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/national-2-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "National 2 Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/national-2-condensed-medium.woff2") format("woff2");
}

/* Reset */
h1,
h2,
p,
ol,
ul {
  margin: 0;
}

/* Doc */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  color-scheme: dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "National 2", Arial, sans-serif;
  margin: 0;
  padding-block-start: var(--size-xl);
  padding-inline: var(--size-sm);

  @media (min-width: 45em) {
    padding-inline: var(--size-2xl);
  }
}

header,
main,
footer {
  --gap: var(--size-sm);
  gap: var(--gap);
  margin-inline: auto;
  max-width: 87.5rem; /* 1400px */

  @media (min-width: 60em) {
    --gap: var(--size-md);
  }
}

main {
  display: flex;
  flex-direction: column;
  padding-block: var(--size-md);

  @media (min-width: 45em) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: 60em) {
    grid-template-columns: repeat(6, 1fr);
  }
}

/* Type */
::selection {
  color: var(--color-bg);
  background-color: var(--color-text);
}

h1,
h2 {
  color: var(--color-text-prominent);
  font-family: "National 2 Condensed", "Arial Narrow", sans-serif;
  font-weight: 600;
}

h1 {
  font-size: 3.5rem; /* 56px */
  line-height: 1;
}

h2 {
  font-size: 2rem; /* 32px */
  line-height: 1.125;
}

p,
li {
  font-size: 1rem; /* 16px */
  line-height: 1.5;
  text-wrap: pretty;

  @media (min-width: 60em) {
    font-size: 1.125rem; /* 18px */
  }
}

li {
  break-inside: avoid-column;
}

.list-none {
  list-style-type: none;
  padding-inline-start: 0;
}

a {
  color: var(--color-text-prominent);
  text-decoration-thickness: 0.05em;
  text-decoration-color: rgba(255, 255, 255, 0.25);
  text-underline-offset: 0.2em;
  transition: text-decoration-color 150ms;

  &:hover {
    text-decoration-color: currentColor;
  }
}

:focus-visible {
  outline: 2px solid rgb(14, 224, 196); /* TODO: Accent colors*/
  outline-offset: 0.2em;
}

:is(p, li) a {
  border-radius: 0.25rem; /* TODO: Radii */
}

.text-large {
  font-size: 1.5rem; /* 24px */
  line-height: 1.25;
}

/* Media */
img {
  max-width: 100%;
}

img[width][height] {
  height: auto;
}

img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}

/* Layout */
.flow > * + * {
  margin-block-start: var(--gap);
}
.flow--gap-sm > * + * {
  margin-block-start: calc(var(--gap) / 2);
}

.inline {
  display: flex;
  gap: var(--gap);
  flex-wrap: nowrap;

  > *:has(img, svg),
  > :is(img, svg) {
    flex-shrink: 0;
  }
}
.inline--gap-xs {
  gap: calc(var(--gap) / 4);
}
.inline--gap-sm {
  gap: calc(var(--gap) / 2);
}

.inline[href] {
  display: inline-flex;
}

/* Components */
.card {
  border-radius: var(--border-radius);
  padding: calc(2 * var(--gap)) var(--gap) var(--gap);
}

.link-cover::before {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
}
.relative:has(.link-cover) img {
  transition: transform 150ms ease-out;
}
.relative:has(.link-cover):hover img {
  transform: rotate(-3deg);
}

/* Utils */
.align-middle {
  vertical-align: middle;
}

.aspect-square {
  aspect-ratio: 1 / 1;
}

.bg {
  background-color: var(--color-bg);
}

.bg-prominent {
  background-color: var(--color-bg-prominent);
}

.col-span-2 {
  grid-column: span 2 / span 2;
}
@media (min-width: 60em) {
  .lg\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .lg\:col-span-4 {
    grid-column: span 4 / span 4;
  }
  .lg\:col-span-6 {
    grid-column: span 6 / span 6;
  }
}

.col-start-1 {
  grid-column-start: 1;
}

@media (min-width: 45em) {
  .md\:columns-2 {
    column-gap: calc(2 * var(--gap));
    columns: 2;
  }
}
@media (min-width: 60em) {
  .lg\:columns-3 {
    column-gap: calc(3 * var(--gap));
    columns: 3;
  }
}

.items-baseline {
  align-items: first baseline;
}

.max-w-prose {
  max-width: 58ch;
}

.mbs-sm {
  margin-block-start: var(--size-sm);
}

.mbs-2xs {
  margin-block-start: var(--size-2xs);
}

.object-cover {
  object-fit: cover;
}

.p-3xs {
  padding: var(--size-3xs);
}

.relative {
  position: relative;
}

.size-sm {
  height: var(--size-sm);
  width: var(--size-sm);
}

.size-md {
  height: var(--size-md);
  width: var(--size-md);
}

.width-3xl {
  min-width: var(--size-3xl);
  width: var(--size-3xl);
}
