html {
  color-scheme: dark;
}

body {
  font-family: sans-serif;
}

img {
  max-width: 100%;
}
img[width][height] {
  height: auto;
}
img[src$=".svg"] {
  width: 100%;
  height: auto;
  max-width: none;
}
